/* Common CSS */

* {
    box-sizing: border-box;
}

html, body {
	height: 100%
}

body {
    background-color: #f6f6e8;
    color: #404040;
    margin: 0;
    width: 100%;
	height: 100%;
}

/* nav */

nav {
    background-color: #183030;
    /* <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        if you guys want to use Anton font, then copy this link inside your
        head section of html file. */
    font-family: 'Anton', sans-serif;
    width: 100%;
    height: 60px;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}   

#navli {
    width: 160px;
}

#navwrapper {
    display: block;
    background-color: #183030;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    min-width: 1300px;
    min-height: 60px;
    max-height: 60px;
    position: fixed;
	z-index: 20;
}

#navleft {
	/* position:absolute; /* required so the UL doesnt push itself down */ 
    float: left;
}

#navright {	
	/* margin-left: 60%;	/* Prevents Stacking with the center logo*/ 
	float: right;
}

#imgid {
    width: 140px;
	height: 60px;
    /* width: 16%; */
    margin: 0;
    background-color: #183030;
    padding: 0;
	/* position:absolute; 	/* Fixes the image*/
}
/* resizing the icon boxes*/
.dropdown{
	min-width: 160px; 
	/* margin:0; */
	/* padding:0; */
}

nav ul {
    background-color: #183030;
    list-style-type: none;
    height: 60px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 9px;
    padding-left: 0;
    padding-right: 0;
	/* overflow:hidden; /* the magic happens here prevents it from the ul from cascading */
}

nav ul li {
    display: inline;
    /* flex: 1; */
    background-color: #183030;
    margin: 0;
}

nav ul a {
    /* flex: 1; */
    color: #f6f6e8;
    text-decoration: none;
    display: block;
    /* width: 300px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin: 0;
    /* vertical-align: middle; */
}

nav li a:hover {
    background-color: #306030;
    color: #f6f6e8;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 180px;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #183030;
    width: 100%;
    z-index: 21;
    color: #f6f6e8;
    padding-left: 0;
    margin: 0;
}

.dropdown_content p {
    padding-top: 0;
    margin: 0;
}

.dropdown:hover .dropdown_content {
    display: block;
}

/*-------------------------------------------*/

/* body */

main {
    font-family: 'Open Sans', sans-serif;
}

/*------------------------------------------*/

/* footer */

footer {
    font-family: 'Open Sans', sans-serif;
	width: 100%;
	min-height: 100px;
	bottom: 0;
	background-color: #183030;
	z-index: 20;
	font-size: 0.8em;
}

footer li {
	list-style: none;
}

footer li a:hover {
	background-color: #f6f6e8;
    color: #183030;
}

footer li a {
	color: #f6f6e8;
	text-decoration: none;
}

.footerconstraint { 
	width: 1000px;
	margin: auto;
}

.footerconstraint p {
	text-align: center;
	margin: 0;
	padding: 0;
}

.bottomleftcolumn { 
	display: inline-table;
	width: 20%;
	margin-left: 10%;
}

.middleleftcolumn { 
	display:inline-table;
	width: 20%;
}

.middlerightcolumn {
	display: inline-table;
	width: 20%;
}

.bottomrightcolumn {
	display: inline-table;
	width: 20%;
}

/*--------------------------*/

/* // END OF Common CSS */

/* index  */

#indexMainWrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.indexPictures {
    display: inline-block;
    margin-left: 63px;
    margin-right: 63px;   
}

.indexSignUp_LogIn {
    float: right;
    margin-right: 30px;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4em;
    padding: 10px;
    font-weight: bold;
    margin-top: 10px;
}

.indexSignUp_LogIn a {
    text-decoration: none;
    background-color: #183030;
    color: #f6f6e8;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;   
}

.indexSignUp_LogIn a:hover {
    background-color: #306030;
    color: #f6f6e8;
}

/* // END OF index */

/* THIS IS INDEX CSS FOR THE AB TESTING */

.indexPicturesTesting {
    display: inline;
    margin: 80px;
}


/*----------------------------  Main Container for Contents of Page: Forums ----------------------------*/


#forumcontainer {
	/* Box Offsets */
	margin-top: 15%; /* If this changes Photo needs to change too*/
	margin-left: 10%;
	margin-bottom:10%;
	/* main box */
	width:80%;
	min-width: 350px; /* restricting size */
	height:700px;
	
}

/* -- Forum Elements -- */
#forumtable {
	margin: auto;
	padding:15px;
	text-align:center;
}



#forumtable .forumheader {
	color:#ffffff;
	height:50px; 
	font-size: 24px;
}

#forumtable td,#forumtable tr,#forumtable th {
	margin: auto;
	border: 1px solid black;
	width: 600px;
	max-width: 30%;
	height: 100px; 
	background-color:#4b6b36; 
	color: #183030;
}
#forumheader {
	background-color:#f0f0f0;
	height:50px;
}
/* topic is wider */

#forumtable td {
	width:300px;
}
a.forumelements {
	height: 100px;
}



a.forumelements:visited {
	color: #ffffff;
}

/* This content are special */
.forumcontent  {
	width: 600px;
}

/**/

/* Info Page */

#infomain {
	margin-top: 40px;
	margin-bottom: 100px;
}

.infoheader {
	text-align: center;
	width: 1000px;
	margin: auto;
}

#topthree {
	width: 1000px;
	margin: auto;
	margin-top: 40px;
}
#bottomtwo {
	width: 1000px;
	margin: auto;
}

.profilepic {
	width: 140px;
	height: 140px;
}

#cameroninfo {
	display: inline-block;
	text-align: center;
	width: 33%;
}

#edmundinfo {
	display: inline-block;
	text-align: center;	
	width: 33%;
}
#jasoninfo {
	display: inline-block;
	text-align: center;
	width: 33%;
}
#danielinfo {
	display: inline-block;
	text-align: center;
	width: 33%;
	margin-left: 140px;
}
#josephinfo {
	display: inline-block;
	text-align: center;	
	width: 33%;
}

#contactus{
	width: 1000px;
	margin: auto;
	text-align: center;
}

#emailForm {
	width: 1000px;
	margin: auto;
}

#emailtable {
	margin: auto;
}

/*-------------------*/

/* Sign-Up Page */

#centerlogo{
	text-align:center;
	margin-top: 70px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#largeLogo {
	width: 350px;
	height: 275px;
}

#signupform {
	margin: auto;
	margin-bottom: 50px;
	width : 1000px;
}

#signuptable {
	margin: auto;
}

/*-------------------*/

/* Product Pages */

#contentwrapper{ 
	width: 1000px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}

#pagename{ 
	padding-top: 40px;
}


#ptitle  {  
	width: 200px;
    margin: auto;
	text-align: center;
	height: 50px;
	border: 2px solid black;
	background-color: #183030;
	color: #f6f6e8;
}

#pricebracketlow{ 
	width: 100px;
	height: 40px;
	text-align: center;
	margin: 20px 450px 20px 450px;
	border: 2px solid black;
	background-color: #183030;
	color: #f6f6e8;
}

#pricebracketmid{ 
	width: 100px;
	height: 40px;
	text-align: center;
	margin: 20px 450px 20px 450px;
	border: 2px solid black;
	background-color: #183030;
	color: #f6f6e8;
}

#pricebrackethigh{ 
	width: 100px;
	height: 40px;
	text-align: center;
	margin: 20px 450px 20px 450px;
	border: 2px solid black;
	background-color: #183030;
	color: #f6f6e8;
}

.contentbox { 
	width: 750px;
	height: 300px;
	border: 2px solid black;
	margin: 0px 0px 20px 150px;
			  
}

.contentbox button { 
	position: relative;
	left: 500px;
	bottom:30px;
					 
}


.contentbox img { 
	height:250px;
    width: 300px;
	margin-top: 20px;
	padding-left: 10px;
}

.textbox { 
	width:400px;
	float:right;
	padding:20px 20px 0px 0px;
		   
}

.extraText { 
	float:right;
	padding:0px 20px 0px 20px;
	display: none;
			 
}
	
/*---------------------------------------*/
