<link href="https://fonts.googleapis.com/css?family=Open+Sans"
rel="stylesheet">

font-family: 'Open Sans', sans-serif;


<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

font-family: 'Anton', sans-serif;


<link href="https://fonts.googleapis.com/css?family=Open+Sans"
rel="stylesheet">

font-family: 'Open Sans', sans-serif;
