/* WTB VARIABLES*/
/* offset: 25px */


/* Main Container for contents */

#forumwrapper{
	width:70%; /* 75% of total page */
	
	height:1000px;
	/* centered */
	margin-left:auto;
	margin-right:auto;
}

#forumcontainer {
	margin-top: 10%; /* If this changes Photo needs to change too*/
	/* main box */
	width:60%;
	float:left;
	height:700px;
	color: #4b6b36;
	/* background-color:#4b6b36; */
	min-width: 350px; /* restricting size */
}
/* photo is offsetting from form1's margin left*/
#forumpost {
	/* main box */
	margin-top: 10%;
	width:35%;
	float: right;
	height:700px;
	background-color:#4b6b36 ;
	color:#ffffff;
	min-width: 350px; /* restricting size */
	/* RANDOM PLACEHOLDER */
	
	text-align:center;
}
/* hacking atm */
table {
	width:400px;
}
#forumlist {
	/* centered */
	margin-left:auto;
	margin-right:auto;
	
	margin-top: 25px;
	width:80%; /*400-25-25*/
	height:30%;
	min-width: 300px; /* restricting size */
	
	color: #4b6b36;
	
	background-color:#ffffff ;
	text-align:center;
}

#textbox {
	/* centered */
	margin-left:auto;
	margin-right:auto;
	
	margin-top: 20px;
	background-color: #ffffff ;
	width:80%;
	height:50%;
	min-width: 300px; /* restricting size */
	/* RANDOM PLACEHOLDER */
	text-align:center;
}

