

/* nav */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: #183030;
    width: 100%;
    z-index: 21;
    color: #f6f6e8;
}

.dropdown:hover .dropdown_content {
    display: block;
    /* background-color: #f6f6e8; */
    /* color: #183030; */
}

/* body */

#mainwrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

main img {
}

main div {

}

.Pictures {
    display: inline-block;
    margin-left: 63px;
    margin-right: 63px;
}


