

/* nav */



/* body */

#indexMainWrapper {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.indexPictures {
    display: inline-block;
    margin-left: 63px;
    margin-right: 63px;
}

.indexSignUp_LogIn {
    float: right;
    margin-right: 30px;
    display: block;
}

.indexSignUp {
    margin-right: 10px;
    background-color: #183030;
    display: block;
    color: #f6f6e8;
}

.indexLogIn {
    margin-left: 10px;
    background-color: #183030;
    display: block;
    color: #f6f6e8;
}