* {
    box-sizing: border-box;
}

body {
    background-color: #404040;
    color: #f6f6e8;
    margin: 0;
}


/* Navbar */

.navbar {
    width: 100%;
    position: fixed;
    background-color: #000000;
    height: 80px;
	top: 0;
    
}

nav ul {
    list-style-type: none;
    color: #f6f6e8;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    text-align: center;
    
}

.imagelist {
    padding: 0;
}

nav img {
    width: 120px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    float: middle;
}

nav li {
    display: inline-block;
    height: 80px;
    margin: 0;
    padding: 30px 0 30px 0;
    vertical-align: middle;
    text-align: center;
}

.navborderright {
    border-right: 2px solid #FFFFFF;
}

.navborderleft {
    border-left: 2px solid #FFFFFF;
}

nav a {
    height: 80px;
    text-decoration: none;
    width: 120px;
    padding: 30px 15px 30px 15px;
    margin: 0;
}

nav a:link { 
    color: #f6f6e8; 
}

nav a:visited {
    color: #f6f6e8;
}

nav a:hover {
    color: #f6f6e8;
}

nav a:active {
    color: #f6f6e8
}

/* body */
main{
	margin-top: 80px;
}

#topthree {
	width: 1000px;
	margin: auto;
	margin-top: 40px;
}
#bottomtwo {
	width: 1000px;
	margin: auto;
}

#cameroninfo {
	display: inline-block;
	text-align: center;
	width: 33%;
}

#edmundinfo {
	display: inline-block;
	text-align: center;	
	width: 33%;
}
#jasoninfo {
	display: inline-block;
	text-align: center;
	width: 33%;
}
#danielinfo {
	display: inline-block;
	text-align: center;
	width: 33%;
	margin-left: 140px;
}
#josephinfo {
	display: inline-block;
	text-align: center;	
	width: 33%;
}

/* footer */

footer {
	width: 100%;
	height: 80px;
	bottom: 0;
	background-color: #000000;
}

.footerconstraint {
	width: 1000px;
	margin: auto;
}

.bottomleftcolumn {
	display: inline-table;
	width: 20%;
	margin-left: 10%;
}

.middleleftcolumn {
	display:inline-table;
	width: 20%;
}

.middlerightcolumn {
	display: inline-table;
	width: 20%;
}

.bottomrightcolumn {
	display: inline-table;
	width: 20%;
}