* {
    box-sizing: border-box;
}

body, html {
    background-color: #404040;
    color: #f6f6e8;
    margin: 0;
	/* height: 100%; */
	padding: 0;
}


/* Navbar */

nav {
    background-color: #000000;
    /* <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
        if you guys want to use Anton font, then copy this link inside your
        head section of html file. */
    font-family: 'Anton', sans-serif;
    width: 100%;
    height: 80px;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}   

#navwrapper {
    display: box;
    background-color: #000000;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    min-width: 1519px;
    min-height: 80px;
    max-height: 80px;
    position: fixed;
}

#navleft {
    float: left;
    
}

#navright {
    float: right;
}

#imgid {
    width: 180px;
    margin: 0;
    background-color: #000000;
}

ul {
    background-color: #000000;
    list-style-type: none;
    height: 80px;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 0;
    padding-right: 0;
    /* overflow: auto; */
}

ul li {
    display: inline;
    background-color: #000000;
}

ul a {
    color: #f6f6e8;
    text-decoration: none;
    display: box;
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 9px;
    padding-bottom: 9px;
}

nav li a:hover {
    background-color: #f6f6e8;
    color: #404040;
}

/* body */
main {
	margin-top: 40px;
	margin-bottom: 100px;
}

#contactheader {
	margin-top: 40px;
}
h1 {
	text-align: center;
	background-color: #006899;
	width: 1000px;
	margin: auto;
}

#topthree {
	width: 1000px;
	margin: auto;
	margin-top: 40px;
}
#bottomtwo {
	width: 1000px;
	margin: auto;
}

#cameroninfo {
	display: inline-block;
	text-align: center;
	width: 33%;
}

#edmundinfo {
	display: inline-block;
	text-align: center;	
	width: 33%;
}
#jasoninfo {
	display: inline-block;
	text-align: center;
	width: 33%;
}
#danielinfo {
	display: inline-block;
	text-align: center;
	width: 33%;
	margin-left: 140px;
}
#josephinfo {
	display: inline-block;
	text-align: center;	
	width: 33%;
}

#contactus{
	width: 1000px;
	margin: auto;
	text-align: center;
}

#contactus img{
	align: middle;
}

/* footer */

footer {
	width: 100%;
	height: 80px;
	min-height: 80px;
	bottom: 0;
	background-color: #000000;
	margin-bottom: 0;
	z-index: 20;
}

.footerconstraint {
	width: 1000px;
	margin: auto;
}

.bottomleftcolumn {
	display: inline-table;
	width: 20%;
	margin-left: 10%;
}

.middleleftcolumn {
	display:inline-table;
	width: 20%;
}

.middlerightcolumn {
	display: inline-table;
	width: 20%;
}

.bottomrightcolumn {
	display: inline-table;
	width: 20%;
}