* {
    box-sizing: border-box;
}

/* content styling */

#contentwrapper{ width: 1000px;
				 margin: auto;
				 font-family: 'Open Sans', sans-serif;

}

#pagename{ padding-top: 40px;
	
}


#mousetitle  {  width: 100px;
                margin: auto;
				text-align: center;
				height: 40px;
		        border: 2px solid black;
				background-color: #183030;
				color: #f6f6e8;
}

#pricebracketlow{ width: 100px;
				  height: 30px;
			      text-align: center;
			      margin: auto;
			      margin-top: 40px;
			      border: 2px solid black;
			      background-color: #183030;
			      color: #f6f6e8;
}

#pricebracketmid{ width: 100px;
				  height: 30px;
			      text-align: center;
			      margin: auto;
			      margin-top: 20px;
			      border: 2px solid black;
			      background-color: #183030;
			      color: #f6f6e8;
}

#pricebrackethigh{ width: 100px;
				  height: 30px;
			      text-align: center;
			      margin: auto;
			      margin-top: 20px;
			      border: 2px solid black;
			      background-color: #183030;
			      color: #f6f6e8;
}

.contentbox { width: 750px;
			  margin: auto;
			  
}

.contentbox button { position: relative;
					 left: 500px;
					 bottom: 30px;
					 
}


.contentbox img { height:250px;
                  width: 300px;
			      margin-top: 20px;
}

.textbox { width:400px;
		   float:right;
		   padding:40px 20px 0px 0px;
		   
}

.extraText { width:400px;
			 float:right;
		     display: none;
}

#bottombox { width: 750px;
             height: 300px;
	         margin: auto;
}

#bottombox img {height:250px;
                width: 300px;
			    margin-top: 20px;
}

#bottombox button {  position: relative;
					 left: 500px;
					 bottom: 30px;
}

hr { margin-top: 20px;
	 width: 750px;
	 background: #008F68; height: 3px; border: 0; /* For browsers that do not support gradients */
	 background: linear-gradient(to right, blue, green, red);
}

.altHr { background: #f6f6e8;
		 width: 750px;
}

