/* body */
/*#centerlogo{
	text-align:center;
	margin-top: 70px;
	margin-bottom: 70px;
}

#largeLogo {
	width: 350px;
	height: 275px;
}

/* #loginForm { */
	/* align: center; */
	/* width: 500; */
	/* cellspacing: 0 */
	/* cellpadding: 2 */
	/* border: 0: */
/* } */

/* Forces form fields to "center" on the page */
#signupform {
	margin-left: 40%;
	margin-bottom: 50px;
	width : 50%;
}

